apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rclone-s3-operator.fullname" . }}
  labels:
    {{- include "rclone-s3-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.manager.replicaCount }}
  selector:
    matchLabels:
      {{- include "rclone-s3-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "rclone-s3-operator.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "rclone-s3-operator.serviceAccountName" . }}
      containers:
        - name: manager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--leader-elect"
            - "--metrics-bind-address={{ printf \":%v\" .Values.metricsService.port }}"
            - "--health-probe-bind-address=:8081"
            {{- range .Values.manager.args }}
            - "{{ . }}"
            {{- end }}
          ports:
            - containerPort: 8080
              name: metrics
            - containerPort: 8081
              name: healthz
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: TARGET_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            {{- toYaml .Values.manager.resources | nindent 12 }}
