{{- if and .Values.rcloneConfig.enabled .Values.rcloneConfig.data }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default "rclone-secret" .Values.rcloneConfig.name }}
  labels:
    {{- include "rclone-s3-operator.labels" . | nindent 4 }}
stringData:
  rclone.conf: |
{{ .Values.rcloneConfig.data | indent 4 }}
{{- end }}
